---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">전체 글</HeaderLink>
			<HeaderLink href="/categories/논문리뷰">논문리뷰</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0.25em 1.25em;
		background: #ffffff;
		border-bottom: 1px solid rgb(var(--gray-light));
	}
	h2 {
		margin: 0;
		font-size: 1.05em;
		letter-spacing: -0.2px;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
	}
	nav a {
		padding: 0.9em 0.5em;
		color: rgb(var(--gray-dark));
		border-bottom: 2px solid transparent;
		text-decoration: none;
		font-weight: 500;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	@media (max-width: 720px) {
		.internal-links {
			display: flex;
			flex-wrap: wrap;
			gap: 0.25rem;
		}
	}
</style>
